.containerContent {
  max-width: 1200px;
  padding-top: 96px;
  margin: 0 auto;
};

.containerProfile {
  padding: 29px 12px 0px 44px;
  max-width: 1120px;
  height: 580px;
  margin: 0px 52px 0px 28px;;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px #E5E9F3;
  border-radius: 5px;
}

.wrapperRadio {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subHead {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #BEC5D2;
}

.column {
  width: 33%;
  &:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }
}

.contPhoto {
  position: relative;
  width: 171px;
  height: 171px;
  border-radius: 50%;
  overflow: hidden;
  &:hover .upload {
    top: 135px;
  }
}

.upload {
  display: flex;
  justify-content: center;
  padding-top: 6px;
  top: 172px;
  left: 15px;
  width: 140px;
  height: 140px;
  position: absolute;
  background-color:rgba($color: #000000, $alpha: 0.65);
  transition: top ease 0.25s
}

.linkText {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

