.customInput {
  display: flex;
  width: 260px;
  background: #F5F6FA;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  height: 32px;
  padding: 7px 0px 7px 10px;
  font-family: "Montserrat", arial;
  color: #BEC5D2;
  font-size: 14px;
  cursor: pointer;
}

.inputValue {
  // margin-left: 13px;
}

.icon {
  margin-right: 13px;
}

.labelText {
  font-size: 14px;
  color: #363F55;
  display: block;
  margin-bottom: 4px;
}