@import '../../../styles/global.scss';
@import '../../../styles/colors';

.status{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #C3C7D8;
  border: 4px solid #ffffff;
}

.active{
  background-color: $cornflower;
}