.labelText {
  font-size: 14px;
}

.text {
  display: block;
  margin-bottom: 3px;
  color: #363F55;
}

.linkText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4C84FF;
  text-decoration: none;
}

.contLinks {
  margin-top: 7px;
}