.filterHistory{
  margin-top: 15px;
  display: flex;
   button{
     margin-right: 5px;
   }
}

.historyList{
  list-style-type: none;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 0;
}

.historyItemWrapper{
  position: relative;
  padding: 13px 21px 14px 17px;
  background-color: #ffffff;
  margin-bottom: 6px;
  box-shadow: 1px 1px 3px #E5E9F3;
  background-repeat: no-repeat;
  background-position: center;
    &::before{
    position: absolute;
      left: -40px;
      top: 0;
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #FFFFFF;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;
    }

    &::after  {
      position: absolute;
      left: -25px;
      top: 30px;
      content: '';
      background-color: #FFFFFF;
      width: 2px;
      height: 100%;
    }
}

li:last-child {
  .historyItemWrapper::after {
    height: 0;
  }
}

.historyEmail::before{
  background-image: url('../../../assets/images/icon-send.svg');
}

.historyText::before{
  background-image: url('../../../assets/images/icon-text.svg');
}

.historyItemCallNotes::before{
  background-image: url('../../../assets/images/icon_note.svg');
}

.historyItemDeal::before{
  background-image: url('../../../assets/images/icon_deal.svg');
}

.historyItemQuotes::before{
  background-image: url('../../../assets/images/icon_quotes.svg');
}

.historyItemAttachments::before{
  background-image: url('../../../assets/images/icon_attachments.svg');
}

.historyItemStage::before{
  background-image: url('../../../assets/images/icon_info.svg');
}


.itemHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemTitle{
  font-size: 14px;
  color: #363F55;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.itemHeaderControl{
  display: flex;
  align-items: center;
    button{
      margin-left: 13px;
    }
}

.itemText{
  font-size: 14px;
  font-weight: normal;
  color: #363F55;
  margin-top: 0;
  margin-bottom: 7px;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemDate{
  font-size: 12px;
  color: #C6CBD6;
  margin: 0;
  margin-bottom: 5px;
}

.itemInfo{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C6CBD6;
  margin-top: 0;
   p{
     margin-bottom: 0;
   }
}