
input[type='radio'] {
  display: none;
}

.radio {
  color: #363F55;
  font-family: 'Montserrat', arial;
  font-size: 14px;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px #E5E9F3;
  border-radius: 5px;
  padding: 8px 10px 7px 9px;
  cursor: pointer;
  transition: background ease 0.25s, box-shadow ease 0.25s;
  text-align: center;
  &:active {
    color: #363F55;
    background: #F5F6FA;
    box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  }
  &:checked {
    color: #363F55;
    background: #F5F6FA;
    box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  }
}

.radioLabel {
  margin-right: 9px;
}

input[type='radio']:checked + .radio {
  color: #363F55;
  background: #F5F6FA;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  padding: 8px 10px 7px 9px;
  cursor: pointer;
}
