.empty{
  position: absolute;
  width: 100%;
  min-height: 420px;
  border: 2px dotted #E5E9F3;
  background-color: #F5F6FA;
  &::before{
    position: absolute;
    left: -2px;
    top: -52px;
    content: '';
    display: block;
    width: 176px;
    height: 56px;
    background-image: url('../../../assets/images/title-empty-card.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.card {
  padding: 24px 42px 0px 0px;
  position: absolute;
  width: 100%;
  height: 520px;
  box-shadow: 1px -1px 5px #E5E9F3;
  background:#ffffff;
  &::before{
    position: absolute;
    left: -4px;
    top: -52px;
    content: '';
    display: block;
    width: 176px;
    height: 56px;
    background-image: url('../../../assets/images/title-card.png');
    background-repeat: no-repeat;
    background-size: cover
  }
}

.first {
  z-index: 11;
}

.second {
  top: -5px;
  left: 129px;
  z-index: 10;
  width: calc(100% - 124px);
  &::after {
    position: absolute;
    left: 342px;
    top: 5px;
    content: '';
    display: block;
    width: 640px;
    height: 308px;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px #E5E9F3;
    transform: rotate(5deg);
  }
}

.third {
  top: -10px;
  left: calc(129px * 2);
  width: calc(100% - 124px * 2);
  z-index: 9;
  &::after {
    position: absolute;
    left: 680px;
    top: -15px;
    content: '';
    display: block;
    width: 53px;
    height: 46px;
    background: rgba(76, 132, 255, 0.5);
    transform: rotate(-5deg);
  }
}

.fourth {
  top: -15px;
  left: calc(129px * 3);
  width: calc(100% - 124px * 3);
  z-index: 8;
}

.fifth {
  top: -20px;
  left: calc(129px * 4);
  z-index: 7;
  width: calc(100% - 124px * 4);
  &::after {
    position: absolute;
    left: 530px;
    top: -15px;
    content: '';
    display: block;
    width: 53px;
    height: 46px;
    background: rgba(41, 204, 151, 0.5);
    transform: rotate(5deg);
  }
}

.sixth {
  top: -25px;
  left: calc(129px * 5);
  z-index: 6;
  width: calc(100% - 124px * 5);
}

.seventh {
  top: -30px;
  left: calc(129px * 6);
  z-index: 5;
  width: calc(100% - 124px * 6);
}

.eighth {
  top: -35px;
  left: calc(129px * 7);
  z-index: 4;
  width: calc(100% - 124px * 7);

}

.cardName {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #363F55;
  left: 26px;
  top: -30px;
}

.secondaryCardName {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #363F55;
  left: 46px;
  top: -30px;
}

.flexCont {
  display: flex;
}
