.contSidebar {
  right: -17px;
  top: 50px;
  position: absolute;
  margin: 11px auto;
  width: 225px;
  box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.1);
  background-color: #ffffff;
  padding-bottom: 57px;
  padding-top: 12px;
  z-index: 13;
  &::after {
    content: '';
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 10px solid  #ffffff;
    top: -30px;
    left: 170px
  }
}

.list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.listItem {
  padding-left: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #F5F6FA;
  }
}

.linkCont {
  border-bottom: 1px solid #F8F8F8;
  margin-left: 12px;
  padding: 13px 0 11px  0;
  width: 161px;
  cursor: pointer;

}

.link {
  border-bottom: 1px solid #F8F8F8;
  margin-left: 12px;
  padding: 13px 0 11px  0;
  width: 161px;
  // border: 1px solid black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #363F55;
  text-decoration: none;
  align-items: center;
  height: 100%;
  width: 100%;
}