@import '../../../styles/global.scss';

.avatar {
  display: flex;
  align-items: center;
}

.avatarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.avatarName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  color: #363F55;
}

.avatarPosition {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: #BEC5D2;
  margin: 0;
}