.inputWrapper{
  flex: 1;
}

.textarea{
  font-family: Montserrat;
  font-style: normal;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background: #F5F6FA;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  font-size: 14px;
  padding: 7px 12px;
  color: #363F55;
  border: 1px solid transparent;
  outline: none;
  resize: none;
  &:active{
    border: 1px solid #4C84FF;
  }
  &:focus{
    border: 1px solid #4C84FF;
  }
}

.labelText{
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #363F55;
  margin-bottom: 3px;
}