.cont {
 border-bottom: 1px solid #E5E9F3;
 margin-left: 10px;
 display: flex;
 flex-grow: 2;
}

.input {
  width: 100%;
  background-color:#F5F6FA;
  margin-left: 9px;
  outline: 0;
  border: none;
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #BFC5D1;
  &::placeholder {
    font-family: 'Montserrat', arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #BFC5D1;
  };
  &:-ms-input-placeholder { // Internet Explorer
    font-family: 'Montserrat', arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #BFC5D1;
  };
  &::-ms-input-placeholder { // Microsoft Edge
    font-family: 'Montserrat', arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #BFC5D1;
  };
  &:-moz-placeholder { // Firefox v. 4 - 19
    font-family: 'Montserrat', arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #BFC5D1;
  };
  &::-moz-placeholder { // Firefox v. <51
    font-family: 'Montserrat', arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #BFC5D1;
  }
}



