.cont {

}

.flex {
  display: flex;
  align-items: center;
}

.boxName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #363F55;
  margin-block-start: 0;
  margin-block-end: 0;
  // line-height: 44px;
}

.boxInfo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #BFC5D1;
  margin-block-start: 5px;
  margin-block-end: 5px;
}