.header {
  background: #FFFFFF;
  box-shadow: 1px 1px 3px #E5E9F3;
  margin-bottom: 30px;

}

.containerHeader {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 24px;
}

.menuContainer {
  height: 53px;
  width: 720px;
  overflow: hidden;
}

.headerControls {
  position: relative;
  width: 310px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  div{
    margin-left: 11px;
  }
  button{
    margin-left: 11px;
  }
}

.mainMenu {
  border: 1px solid red;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  align-items: center;

  &__wrapper {
    width: 725px;
    height: 53px;
  }

  &__item {
    margin-right: 30px;
    font-size: 14px;
    line-height: 16px;
    width: 16.666666%;
    height: 100%;
    text-transform: uppercase;
    color: #BFC5D1;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;

    &:hover {
    color: rgb(132, 135, 141);
  }
  }
}
/* .container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  background: beige;
  padding: 20px;
  box-sizing: border-box;
}

.link {
  margin-right: 20px;
} */