.mainCont {
  min-height: 64px;
  flex: 1;
}

.headText {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #363F55;
}

.valueText {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-left: 9px;
  cursor: pointer;
  margin-top: 14px;
  color: #363F55;
}

.flexCont {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.input{
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-top: 7px;
  display: block;
  width: 100%;
  background: #F5F6FA;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  padding: 7px 8px;
  color: #363F55;
  border: 1px solid transparent;
  outline: none;
  &:active{
    border: 1px solid #4C84FF;
  }
  &:focus{
    border: 1px solid #4C84FF;
  }
}

.contBtn {
  margin-top: 0px;
}

.contBtnEmptyInput {
 margin-top: 14px;
 width: 100%;
 display: flex;
 justify-content: flex-end;
}
