.wrapperRadio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 14px;
  color: #363F55;
}

input[type='radio'] {
  display: none;
}

.radio {
  position: relative;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

input[type='radio']:checked + .radio::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #29cc97;
}

input[type='radio']:checked + .radio::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
}
