.containerContent {
  background-color: #F5F6FA;
  max-width: 1100px;
  margin: 0 auto;
}

.dealHistory {
  width: 65%;
  margin-right: 50px;
}

.dealTasks {
  width: 35%,
}

.cardContainer{
  max-width: 1200px;
  margin: 100px auto 40px auto;
  position: relative;
  height: 520px;
}

.flexCont {
  display: flex;
}

.contBut {
  width: 50px;
  position: absolute;
  z-index: 13;
  &_first {
    top: 30%;
    left: -30px;
  };
  &_second {
    top: 30%;
    left: 1085px;
  }
}

.row {
  margin-bottom: 10px;
}

.column {
  margin-left: 32px;
  width: 33%;
  position: relative;
}

.alignBottom {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}


