body {
  background: #F5F6FA;
  height: 100%;
}

.containerContent {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 50px;
  margin: 50px 0;
}

.boxItem {
  position: relative;
  background-color: #FFFFFF;
  padding: 13px 13px 12px 17px;
  box-shadow: 1px 1px 3px #E5E9F3;
  &::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    background-image: url("../../../../../assets/images/bookmark-box.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__line {
    width: 59px;
    height: 7px;
    background-color: #F5F6FA;
    border-radius: 5px;
    margin: 0 auto 9px auto;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: normal;
    color: #BFC5D1;
    margin-bottom: 5px;

    & p {
      margin: 0;

    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: normal;
    color: #363F55;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__category {
    font-size: 12px;
    line-height: normal;
    color: #BFC5D1;
    margin-top: 0;
    margin-bottom: 13px;
  }

  &__user {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: #363F55;
  }

  &__date {
    padding-left: 5px;
    margin: 0;
    font-size: 10px;
    line-height: normal;
    color: #BFC5D1;
  }

  button {
    margin-right: 11px;
  }
}

.rows {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin-top: 190px;

  & p {
    margin-left: 8px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #CCD0DB;

  }
}

.row {
  margin-bottom: 30px;
    & button {
      margin-left: 8px;
    }
}

.containerBoxForm {
  width: 645px;
  margin: 0 auto;
}

.formNewBox {
  background: #FFFFFF;
  box-shadow: 1px -1px 5px #E5E9F3;
  padding: 30px 40px 60px 40px;
  margin-top: 25px;

  & h3 {
    text-align: left;
    font-size: 14px;
  }
  & h4 {
    font-size: 14px;
  }
}

.rowForm {
  margin-bottom: 10px;
}

.rowRadio {
  padding-left: 30px;
  margin-bottom: 30px;
}

.rowTextarea {
  padding-left: 50px;
}

.rowCards {
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;

  &__all {
    color: #4C84FF;
  }

  & p {
    margin: 0;
  }

  &__text {
    font-weight: bold;
  }
}

.rowFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headText {
  font-size: 14px;
  color: #363F55;
  margin-bottom: 7px;
}

.flGrow {
  flex-grow: 1;
}

.wrapperInput {
  width: calc(50% - 22px);
}

.wrapperRadio {
  display: flex;
  align-items: center;
  margin-top: 10px;
}