.overlay {
  background-color: rgba(54, 63, 85, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contMoreInfo {
  top: 70px;
  bottom: 90px;
  box-shadow: 1px -1px 5px #E5E9F3;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 40px 40px 55px 40px;
  width: 645px;
  margin: 50px auto 0 auto;
  &::before{
    position: absolute;
    left: -2px;
    top: -52px;
    content: '';
    display: block;
    width: 176px;
    height: 56px;
    background-image: url('../../../../../assets/images/title-form.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.dFlex {
  display: flex;
}

.alignBottom {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.row {
  margin-bottom: 10px;
}