.contPhoto {
  position: relative;
  width: 171px;
  height: 171px;
  border-radius: 50%;
  overflow: hidden;
  &:hover .upload {
    top: 135px;
  }
}

.upload {
  display: flex;
  justify-content: center;
  padding-top: 6px;
  top: 172px;
  left: 15px;
  width: 140px;
  height: 140px;
  position: absolute;
  background-color:rgba($color: #000000, $alpha: 0.65);
  transition: top ease 0.25s
}

.linkText {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.label {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}