.containerContent {
  max-width: 1200px;
  padding-top: 96px;
  margin: 0 auto;
};

.containerProfile {
  padding: 29px 12px 0px 44px;
  max-width: 1120px;
  height: 503px;
  margin: 0px 52px 0px 28px;;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px #E5E9F3;
  border-radius: 5px;
}

.contFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &_W40 {
    max-width: 40%;
    margin-top: 25px;
  }
}

.list {
  margin-top: 26px;
  margin-left: 15px;
  padding: 0;
}

.listItem {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #363F55;
  margin-bottom: 5px;
}