.contNav {
  height: 53px;
  background-image: linear-gradient(90deg, #F5F6FA 0%, #f8f8f8 11%, #fff 16%, #fff 84%, #f8f8f8 89%,  #F5F6FA 100% );
}

.contNavWithoutScrolling {
  height: 53px;
  background-image: linear-gradient(90deg, #F5F6FA 0%, #f8f8f8 11%, #fff 16%, #fff 84%, #f8f8f8 89%,  #F5F6FA 100% );
  display: inline-flex;
  width: 100%
}

.navItem {
  display: flex;
  align-items: center;
  padding: 22px auto 15px auto;
  min-width: 120px;
  height: 53px;
  background-color: transparent;
  white-space: nowrap;
}

.navLink {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #BFC5D1;
  cursor: pointer;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
}

.lock__ {
  overflow: hidden;
}