.inputWrapper{
  flex: 1;
}

.labelText{
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #363F55;
  margin-bottom: 3px;
}

.input{
  display: block;
  width: 100%;
  background: #F5F6FA;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  font-size: 14px;
  padding: 7px 12px;
  color: #363F55;
  border: 1px solid transparent;
  outline: none;
  &:active{
    border: 1px solid #4C84FF;
  }
  &:focus{
    border: 1px solid #4C84FF;
  }
}

.input_warn{
  display: block;
  position: relative;
  border: 1px solid #F15642 !important;
  width: 100%;
  background-color: #FDF7F6;
  box-shadow: inset 1px 1px 2px rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  font-size: 14px;
  padding: 7px 12px;
  color: #363F55;
  background-image: url('../../../../assets/images/icon_error.svg');
  background-position: 96% 50%;
  background-repeat: no-repeat;
  outline: none;
}


::-webkit-input-placeholder {color: #BFC5D1;}
::-moz-placeholder          {color: #BFC5D1;}/* Firefox 19+ */
:-moz-placeholder           {color:#BFC5D1;}/* Firefox 18- */
:-ms-input-placeholder      {color: #BFC5D1;}