
.input-range__slider {
  appearance: none;
  background: #363F55;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 19px;
  margin-left: -0.5rem;
  margin-top: -0.80rem;
  outline: none;
  position: absolute;
  top: 60%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  box-shadow: 1px 1px 3px #E5E9F3;
  width: 19px;
}
.input-range__slider:active {
  transform: scale(1.3);
}
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  line-height: 10px;
  font-size: 14px;
  text-align: center;
  color: #363F55;
  font-family: "Helvetica Neue", san-serif;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  display: none;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 6px;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: #F5F6FA;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
  box-shadow: inset 0px 1px 2px rgba(100, 100, 100, 0.3);
}

.input-range__track--active {
  background: #363F55;
}

.input-range {
  height: 3rem;
  position: relative;
  width: 100%;
}


