.headText {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #363F55;
  margin-top: 14px;
}

.valueText {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-left: 9px;
  margin-top: 14px;
  color: #363F55;
}

.flexCont {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
