.form {
  margin: 53px auto 0px auto;
  padding: 51px 51px 59px 51px;
  width: 412px;
  height: 746px;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px #E5E9F3;
  border-radius: 5px;
}
.head {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #363F55;
  margin-bottom: 15px;
}

.subHead {
  font-family: 'Montserrat', arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #BEC5D2;
  margin-top: 25px;
}

.row {
  margin-top: 15px;
}

.wideRow {
  margin-top: 25px;
}

.bigRow {
  margin-top: 35px;
}

